<div id="<%= dom_id inherited_article %>">
  <p>
    <strong>Title:</strong>
    <%= inherited_article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= inherited_article.body %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag inherited_article.image_url, height: '200px' if inherited_article.image.file.present? %>
  </p>
</div>
