<h1>Editing inherited_article</h1>

<%= render "form", inherited_article: @inherited_article %>

<br>

<div>
  <%= link_to "Show this inherited_article", @inherited_article %> |
  <%= link_to "Back to inherited_articles", inherited_articles_path %>
</div>
