<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="inherited_articles">
  <% @inherited_articles.each do |inherited_article| %>
    <%= render inherited_article %>
    <p>
      <%= link_to "Show this inherited_article", inherited_article %>
    </p>
  <% end %>
</div>

<%= link_to "New inherited_article", new_inherited_article_path %>
